@font-face {
    font-family: 'Futura PT Light';
    src: url('../savvy_fonts/FuturaPTLight.otf') format("opentype");
}

@font-face {
    font-family: 'Futura PT Bold';
    src: url('../savvy_fonts/FuturaPTBold.otf') format("opentype");
}

.reg-navbar .navbar-brand{
    width: 250px;
    height: 250px;
    margin-left: 150px !important;
}

.auth-link{
    color: #34495E;
    font-size: 20px;
    font-family: 'Futura PT Bold';
    margin-top: 76px;
    margin-right: 180px;
}

#Home{
    text-align: center;
}

#Home .form-header{
    color: #079493;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Futura PT Bold';
}

#Home .form-subheader{
    color: #2D4A50;
    font-size: 25px;
    font-family: 'Futura PT Light';
}

#Home .form-submit{
    width: 240px;
    height: 69px;
    font-size: 22px;
    margin-right: 140px;
    font-family: 'Futura PT Bold';
}

#Home .register-form input{
    border: none;
    font-family: 'Futura PT Light';
    font-size: 20px;
    color: #079493;

}

#Home .register-form input:hover,  #Home .register-form input:focus{
    box-shadow: 1px 1px 5px 1px RGBA(7, 148, 147, 0.5);
}

.reg-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130px;
    padding-top: 23px;
    background-color: #edeef1;
}

.savvybi-alert{
    height: 69px;
    padding: 20px 0;
    font-size: 24px;
    font-family: 'Futura PT Bold';
    text-align: center;
}

.savvybi-alert a i{
    float: right;
    margin-right: 150px;
    color: RGBA(45, 74, 80, 0.27);
    font-size: 28px;
}

.reg-footer .savvybi-alert{
    height: 69px;
    width: 800px;
    padding: 20px 0 20px 104px;
    font-size: 20px;
    font-family: 'Futura PT Light';
    text-align: left;
    color: #707070;
    position: fixed;
}

.savvybi-alert.alert-danger{
    background-color: #e7d1d8;
    color: #F4F5F8;
}

.savvybi-alert.alert-success{
    background-color: #b9d5d7;
    color: #F4F5F8;
}

.savvybi-alert.alert-info{
    background-color: #e9e9c8;
    color: #F4F5F8;
}

.reg-footer .savvybi-alert.alert-danger{
    color: #707070;
}

.reg-footer .savvybi-alert.alert-success{
    color: #707070;
}

.reg-footer .savvybi-alert.alert-info{
    color: #707070;
}

.reg-footer .note-message, .reg-footer .ready-message{
    z-index: 1;
}

.reg-footer .flush-message, .reg-footer .error-message{
    z-index: 2;
}

.reg-footer .btn-disabled{
    background-color: #d3d3d5;
    color: #b1b1b2;

}

.register-form .fa{
    position: absolute;
    top: 13px;
    right: 10px;
    float: right;
    font-size: 20px;
    background: transparent;
}

#stay_login, #remember_me{
    display:none;
}

#stay_login + label{
    color: #707070;
    font-size: 20px;
    font-family: 'Futura PT Light';
    float: right;
}

#stay_login + label:before, #remember_me + label:before{
    background-color: white;
    font-family: FontAwesome;
    content: "\f096";
    font-size: 20px;
    display: inline-block;
    color: white;
    width: 20px;
    height: 22px;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

#stay_login:checked + label:before, #remember_me:checked + label:before{
    content: "\f00c";
    letter-spacing: 5px;
    color: rgb(7, 148, 147)
}

#remember_me + label{
    color: #707070;
    font-size: 20px;
    font-family: 'Futura PT Light';
}

.savvy-btn{
    width: 220px;
    height: 60px;
    font-family: 'Futura PT Bold';
    font-size: 20px;
    border-radius: 5px;
}

.savvy-submit-btn{
    background: #079493;
    color: white;
}

.savvy-submit-btn:hover, .savvy-submit-btn:active{
    background: #06807F;
}

.savvy-submit-btn:disabled{
    background: RGB(211,212,214);
    color: RGB(177,178,179);
}

.savvy-default-btn{
    background: transparent;
    color: #66B6AB;
    border-color: #079493;
}

.savvy-default-btn:active{
    background: #F4F5F8;
    color: #079493;
    border-color: #079493;
}

.savvy-default-btn:hover{
    background: white;
    color: #203539;
    border-color: #203539;
}

.savvy-default-btn:disabled{
    background: white;
    color: #CCCCCC;
    border-color: #CCCCCC;
}

.savvy-navbar{
    background-color: #2D4A50;
    margin-bottom: 0px !important;
}

.savvy-navbar .navbar-brand{
    height: 75px;
    padding: 0;
}

.savvy-navbar .navbar-brand img{
    background-color: #203539;
}

.savvy-navbar .navbar-right{
    margin-top: 8px;
    margin-right: 20px;
}

.savvy-navbar .navbar-right li a{
    font-size: 21px;
    color: #CCCCCC;
}

#savvy-onboard-img{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
}

#savvy-sidebar{
    position: fixed;
    left: 75px;
    width: 75px;
    height: 100%;
    margin-left: -75px;
    overflow-y: visible;
    z-index: 3;
    background-color: #079493;
}

#savvy-sidebar .sidebar-nav{
    width: 75px;
    padding: 20px 0;
    list-style: none;
}

#savvy-sidebar .sidebar-nav>li{
    line-height: 70px;
    font-size: 24px;
    text-align: center;
    color: #A3BECA;
}

#savvy-sidebar .sidebar-nav>li.active{
    color: white;
}

#savvy-sidebar .sidebar-nav ul{
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 240px;
    list-style: none;
    background-color: #F4F5F8;
    text-align: left;
    padding-left: 40px;
    padding-top: 20px;
    box-shadow: 2px 0px 6px 0px #66B6AB;

    transition: transform 0.5s ease-out;
    transform: scaleX(0);
    transform-origin: left;

}

#savvy-sidebar .sidebar-nav li.active>ul{
    transform: scaleX(1);
}

#savvy-sidebar .sidebar-nav .sidebar-menu li>a{
    font-size: 24px;
    color: #566C70;
    font-family: 'Futura PT Light';
}

#savvy-sidebar .sidebar-nav .sidebar-menu .sub-menu{
    background-color: white;
}

#savvy-sidebar .sidebar-nav .sidebar-menu li>a{
    text-decoration: none;
}

#savvy-sidebar .sidebar-nav .sidebar-menu li>a:hover{
    text-decoration: underline;
}

#savvy-sidebar .sidebar-nav .sidebar-menu li.active>a,
#savvy-sidebar .sidebar-nav .sidebar-menu li.active>a:hover,
#savvy-sidebar .sidebar-nav .sidebar-menu li.active>a:focus{
    font-family: 'Futura PT Bold';
    text-decoration: underline;
}

#savvy-content{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #F4F5F8;
}

#main-content{
    width: 900px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}

#welcome-div > .title{
    color: #079493;
    font-size: 40px;
    font-family: 'Futura PT Light';
}

#welcome-div .meter-description{
    color: #34495E;
    font-size: 20px;
    font-family: 'Futura PT Light';
    margin-top: 50px;
    line-height: 0.8;
}

.meter-setup{
    margin-top: 80px;
}

.meter-setup .title{
    font-family: 'Futura PT Bold';
    color: #34495E;
    font-size: 22px;
    margin-bottom: 30px;
}

.meter-box{
    width: 100%;
    height: 200px;
    box-shadow: 1px 4px 5px RGBA(0, 0, 0, 0.16);
    background-color: #F4F5F8;
    border-radius: 5px;
    padding: 30px 10px 15px 100px;
    text-align: left;
    margin-bottom: 20px;
}

.meter-box:hover, .meter-box:active{
    background-color: white;
}

.meter-box .title{
    font-size: 20px;
    margin-bottom: 0;
}

.meter-box .content{
    font-size: 20px;
    width: 500px;
    font-family: 'Futura PT Light';
    float: left;
    margin-top: 20px;
    line-height: 0.8;
}

.meter-box .content .highlight{
    color: #149999;
    font-family: 'Futura PT Bold';
}

.meter-box .submit{
    float: right;
    position: relative;
    top: -15px;
}

.meter-setup .go-to-main{
    float: right;
}

.meter-setup .go-to-main a{
    font-family: 'Futura PT Light';
    color: #2D4A50;
    font-size: 18px;
}

.meter-setup .go-to-main a:hover, .meter-setup .go-to-main a:focus{
    text-decoration: none;
}

.modal-backdrop.in{
    background-color: #F4F5F8;
}

.meter-setup .modal-header{
    padding: 60px ;
    border-bottom: none;
}

.meter-setup .modal-title{
    font-size: 36px;
    color: #079493;
    font-family: 'Futura PT Light';
}

.meter-setup .modal-body{
    font-size: 20px;
    font-family: 'Futura PT Light';
    color: #34495E;
    line-height: 1;
    padding: 0;
}

.meter-setup .modal-footer{
    border-top: none;
    padding: 20px 50px;
    margin-top: 80px;
}

#savvy-content #main-content{
    color: #34495E;
    font-family: 'Futura PT Light';
}

.account-div > .title{
    color: #079493;
    font-size: 48px;
    margin-bottom: 50px;
}

#savvy-content #main-content .account-div .nav-pills > li > a{
    color: #34495E;
    font-size: 18px;
    font-family: 'Futura PT Bold';
}

.account-div .nav-pills > li > a:hover, .account-div .nav-pills > li > a:focus,
.account-div .nav-pills > li.active > a, .account-div .nav-pills > li.active > a:focus, .account-div .nav-pills > li.active > a:hover{
    text-decoration: underline;
    color: #34495E;
    background: white;
}

.tab-content{
    background-color: white;
    padding: 50px 30px 20px 30px;
}

#about-div .tab-content .tab-pane > .header > .thumbnail{
    border: 1px solid black;
    width: 73px;
    height: 66px;
    float: left;
    margin-right: 20px;
    background-color: white;
}

#about-div #admin_owner > .header .search-bar{
    float: right;
    width: 280px;
    height: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 13px;
    border: 1px solid #CCCCCC;
    margin-top: 20px;
    color: dimgrey;
    padding-left: 15px;
    padding-right: 40px;
}

#about-div #admin_owner > .header .form-control-feedback{
    line-height: 5;
    color: #CCCCCC;
}

#workspace-name{
    font-size: 24px;
    font-family: 'Futura PT Bold';
    line-height: 2.5;
    float: left;
}

#about-div #overview > .header{
    margin-bottom: 30px;
}

#about-div .tab-content .tab-pane > .content table{
    width: 100%;
}

#about-div .tab-content .tab-pane > .content .field {
    font-family: 'Futura PT Bold';
    font-size: 18px;
    padding: 20px 0;
}

#about-div .tab-content .tab-pane > .content .value {
    font-size: 18px;
    padding: 20px 0;
}

#about-div .tab-content .tab-pane > .content tr{
    border-bottom: 1px solid #ccc;
}

#profile-div .form-group label.control-label{
    font-size: 16px;
}

#profile-div .form-group label.description{
    font-size: 15px;
}

#profile-div .form-group input.form-control,
#profile-div .form-group select.form-control{
    height: 36px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#access_log .description{
    font-size: 18px;
}

#access_log .content table .field{
    font-family: 'Futura PT Bold';
}

#billing-div .form-group label.control-label{
    font-size: 16px;
}

#billing-div .form-group label.description{
    font-size: 15px;
}

#billing-div .form-group input.form-control,
#billing-div .form-group select.form-control{
    height: 36px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#billing-div .tab-content #detail>.header{
    text-align: left;
}

#billing-div .tab-content #detail>.header>.title{
    font-family: 'Futura PT Bold';
    font-size: 22px;
}

#billing-div .tab-content #detail>.header>.description{
    font-size: 18px;
}

#history > .header button{
    width: 140px;
    height: 36px;
    font-size: 15px;
}

#history > .header .title{
    font-size: 22px;
    font-family: 'Futura PT Bold';
    text-align: center;
    line-height: 1;
}

#history > .content > table{
    font-size: 18px;
}

#history > .content > table > thead{
    font-family: 'Futura PT Bold';
}

#history > .content > table > thead{
    border-bottom: 2px solid #ccc;
}

#history > .content > table > tbody > tr{
    border-bottom: 1px solid #ccc;
}

#history > .content > table  td{
    padding: 10px 0px 10px 0px;
}

#plan-div .content{
    font-size: 18px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px 10px 0px;
}

.futura-bold{
    font-family: 'Futura PT Bold';
}

.futura-light{
    font-family: 'Futura PT Light';
}

#savvy-content .highlight{
    color: #079493;
    font-family: 'Futura PT Bold';
}

