{% extends 'savvy/base.html' %}

{% block topbar %}
    <div class="dashboard-header">
        {% include 'savvy/navbar.html' %}
    </div>
{% endblock %}

{% block container %}
    <div class="page-container row-fluid sidebar_shift" id="savvy-content">
        {% include 'savvy/sidebar.html' %}

        <div id="dashboard-content">
            {% block main_content %}
            {% endblock %}
        </div>

        <div class="modal-section">
            {% block dialogs %}
            {% endblock %}
        </div>

    </div>
{% endblock %}

{% block css_import %}
    {{ super() }}
    <link href="{{ url_for('static', filename='assets/savvybi/css/dashboard.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block js_import %}
    {{ super() }}
    <script>
        $('.page-sidebar.collapseit .wraplist li a').click(function(){
            $('.page-sidebar.collapseit .wraplist li a').removeClass('active')
            $(this).addClass('active');
        })
    </script>
{% endblock %}