<li>
  <a href="/solar/welcome"> Welcome </a>
</li>
<li>
  <a href="/solar/add"> Search </a>
</li>
<li>
  <a href="/solar/list/"> Saved </a>
</li>
<li>
  <a href="{{appbuilder.get_url_for_userinfo}}">{{_("Profile")}}</a>
</li>
{#<li>#}
{#  <a href="/solar/welcome"> Support </a>#}
{#</li>#}
<li>
  <a href="mailto:contact@solarbi.com.au?subject=I want to get support on SolarBI"> Support </a>
</li>
<li class="dropdown">
    <a  class="dropdown-toggle"
        data-toggle="dropdown"
        title="{{g.user.get_full_name()}}"
        style=  "padding-top: 22px; padding-bottom: 17px"
    >
      <i class="fa fa-user"></i><b class="caret"></b>
    </a>
    <ul class="dropdown-menu"
        style="margin-top: 2px">
      <li><a href="{{appbuilder.get_url_for_userinfo}}"><span class="fa fa-fw fa-user"></span>{{_("Profile")}}</a></li>
      <li><a href="{{appbuilder.get_url_for_logout}}"><span class="fa fa-fw fa-sign-out"></span>{{_("Logout")}}</a></li>
    </ul>
</li>