{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% set languages = appbuilder.languages %}
{% set WARNING_MSG = appbuilder.app.config.get('WARNING_MSG') %}
{% set app_icon_width = appbuilder.app.config.get('APP_ICON_WIDTH', 126) %}
{% block head_css %}
  {{ super() }}
   <link href="{{url_for('static',filename='assets/stylesheets/savvybi.css')}}" rel="stylesheet">
{% endblock %}
{% block navbar %}
  <div class="navbar navbar-static-top reg-navbar" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <a class="navbar-brand">
          <img
            width="250"
            src="{{ url_for('static', filename='assets/images/SavvyBI-Logo-Large.png') }}"
            alt="{{ appbuilder.app_name }}"
          />
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {% include 'appbuilder/navbar_right.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
{% endblock %}
{% block content %}

{% if related_views %}
    <ul class="nav nav-tabs">
    <li class="active"><a href="#Home" data-toggle="tab">{{ _("Detail") }}</a> </li>
        {% for view in related_views %}
        <li><a href="#{{view.__class__.__name__}}" data-toggle="tab">{{view.title}}</a></li>
        {% endfor %}
        </ul>

        <div class="tab-content">
        {% for view in related_views %}
        <div id="{{view.__class__.__name__}}" class="tab-pane">
        {{ widgets.get('related_views')[loop.index - 1]()|safe }}
    </div>
    {% endfor %}
{% endif %}

{% block edit_form %}
    <div id="Home" class="tab-pane active">
        <div>
            <h2 class="form-header">Lets get started with SavvyBI</h2>
            <h4 class="form-subheader">it only takes a few seconds</h4>
            <h4>&nbsp;</h4>
        </div>
        {{ widgets.get('edit')(form_action=form_action)|safe }}
    </div>

{% endblock %}

    {% if related_views %} </div> {% endif %}

{% endblock %}

{% block messages %}
    <div class="alert alert-info" hidden>
        All good let's do it!
    </div>
    <div class="alert alert-warning cap-lock" hidden>
        You have your CAPS LOCK on. Is that what you want?
    </div>
{% endblock %}

{% block add_tail_js %}
<script src="{{url_for('appbuilder.static',filename='js/ab_keep_tab.js')}}"></script>
{% endblock %}
