
{% import 'appbuilder/general/savvy_lib.html' as lib %}
{% block content %}



{% if form_action %}
    <form action="{{form_action}}" method="post" enctype="multipart/form-data">
{% else %}
    <form id="model_form" action="" method="post" enctype="multipart/form-data">
{% endif %}
    {{ form.hidden_tag() }}
    <div class="register-form" style="margin:auto; width:40%;">
        {% for field in form %}
            <div class="input-group">
                {{ field(size = 60, class = "form-control login-form", placeholder=field.label.text,
                    onfocusout="validField(this)") }}
                {% if field.errors %}
                    <span class="fa fa-times-circle-o fa-1x" style="color:RGBA(184,16,56,0.5);
                                                 position:absolute;
                                                 top:13px;
                                                 right:10px;
                                                 float:right;
                                                 font-size: 20px;
                                                 z-index:10;"></span>
                {% else %}
                    <span class="fa fa-check" style="color:#079493;
                                                 position:absolute;
                                                 top:13px;
                                                 right:10px;
                                                 float:right;
                                                 font-size: 20px;
                                                 z-index:10;" hidden></span>
                {% endif %}
            </div>
            <a>&nbsp;</a>
        {% endfor %}
    </div>
    <div class="control-group">
        <div class="reg-footer">
            <div style="float: left">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, m in messages %}
                            {% if category %}
                                <div class="alert alert-{{ category }}">
                            {% else %}
                                <div class="alert alert-info">
                            {% endif %}
                            {{ m }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% for error in form.errors.items() %}
                      {% if loop.first %}
                        <div class="savvybi-alert alert-danger">{{ error[1][0] }}</div>
                      {% endif %}
                    {% endfor %}
                {% endwith %}
            </div>
            <div style="float: right;">
                <input class="btn btn-primary btn-block form-submit" type="submit" value="{{_('Sign Up')}}">
            </div>
        </div>
    </div>
    </form>
    <script>
        $('.login-form').each(function() {
            if($(this).attr('name') != 'csrf_token'){
                if ($(this).val() != ''){
                    $(this).siblings('span').show();
                }else{
                   $(this).siblings('span').hide();
                }
            }

        })

        let password = document.getElementsByName('password')[0]
        password.addEventListener("keyup", function(event) {
            // If "caps lock" is pressed, display the warning text
            if (event instanceof KeyboardEvent ) {
                if (event.getModifierState("CapsLock")) {
                    document.getElementsByClassName('cap-lock')[0].hidden = false
                } else {
                    document.getElementsByClassName('cap-lock')[0].hidden = true
                }
            }
        });

        function validField(field){
            if (field.value != '') {
                field.parentNode.childNodes[3].hidden = false
            }
            else{
                field.parentNode.childNodes[3].hidden = true
            }
        }
    </script>
{% endblock %}


