
{% import 'appbuilder/general/savvy_lib.html' as lib %}
{% block content %}



{% if form_action %}
    <form action="{{form_action}}" method="post" enctype="multipart/form-data">
{% else %}
    <form id="model_form" action="" method="post" enctype="multipart/form-data">
{% endif %}
    <div class="register-form" style="margin:auto; width:40%;">
        {% for field in form %}
            {% if field.name=='stay_login' %}
                <div class="input-group" style="display: block;">
                    {{ field(value="0") }}
                    <label for="stay_login">Stay signed in</label>
                </div>
            {% else %}
                <div class="input-group">
                    {{ field(size = 60, class = "form-control login-form", placeholder=field.label.text) }}
                    {% if field.name == 'password' %}
                        <span class="fa fa-hand-pointer-o" style="color: RGBA(218,211,56,0.5); z-index: 12;" hidden></span>
                    {% endif %}
                    {% if field.errors %}
                        <span class="fa fa-times-circle-o fa-1x" style="color: RGBA(184,16,56,0.5); z-index: 13;"></span>
                    {% endif %}
                    <span class="fa fa-times-circle-o fa-1x" style="color: RGBA(184,16,56,0.5); z-index: 11;" hidden></span>
                    <span class="fa fa-check" style="color: #079493; z-index: 10;" hidden></span>
                </div>
                <a>&nbsp;</a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="control-group">
        <div class="reg-footer">
            <div style="float: left">
                <div class="savvybi-alert alert-info caplock-alert" hidden>
                    You have your CAPS LOCK on. Is that what you want?
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, m in messages %}
                            {% if category %}
                                <div class="savvybi-alert alert-{{ category }} flush-message">
                            {% else %}
                                <div class="savvybi-alert alert-info flush-message">
                            {% endif %}
                            {{ m }}
                            </div>
                        {% endfor %}
                    {% elif form.errors %}
                        {% for error in form.errors.items() %}
                          {% if loop.first %}
                            <div class="savvybi-alert alert-danger error-message">{{ error[1][0] }}</div>
                          {% endif %}
                        {% endfor %}
                    {% else %}

                    {% endif %}
                <div class="savvybi-alert note-messge" >
                    Make sure you save your password, make it secure!
                </div>
                <div class="savvybi-alert alert-success ready-message" hidden>
                    All good let's do it!
                </div>
                <div class="savvybi-alert alert-danger warning-message" hidden>
                </div>
                {% endwith %}
            </div>
            <div style="float: right;">
                <input class="btn btn-primary btn-block form-submit" type="submit" value="{{_('Sign Up')}}">
            </div>
        </div>
    </div>
    </form>
    <script>
        function emailValidation(emailAddress) {
            var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
            return pattern.test(emailAddress);
        }

        function passwordValidation(password) {
            var pattern = new RegExp(/^(?=.*[a-z])(?=.*[A-Z])(?=.*[_\-+!@#\$%\^&\*])(?=.{6,})/i);
            return pattern.test(password);
        }

        // Initial validation check
        $('.login-form').each(function(){
            is_ready_submit = true;
            is_valid = false;

            if($(this).parent().find($('.fa-times-circle-o:visible')).length==0){
                if ($(this).attr('id') == 'email'){
                    if (!emailValidation($(this).val())){
                        is_ready_submit = false && is_ready_submit;
                    }else{
                        is_valid = true;
                    }
                } // Organization name validation
                else if ($(this).attr('id') == 'organization'){
                    if ($(this).val().length <= 3){
                        is_ready_submit = false && is_ready_submit;
                    }else{
                        is_valid = true;
                    }
                } // Password validation
                else if ($(this).attr('id') == 'password'){
                    if (!passwordValidation($(this).val())){
                        is_ready_submit = false && is_ready_submit;
                    }else{
                        is_valid = true;
                    }
                }

                if (is_valid){
                    $(this).siblings('.fa-check').removeAttr('hidden');
                }
            }

            if(!is_ready_submit)
                $('input:submit').attr('disabled','disabled');
                $('input:submit').removeClass('btn-primary').addClass('btn-disabled');
        })

        $('#stay_login').on('click', function(){
            if($(this). prop("checked") == true){
                $(this).val(1);
            }else{
                $(this).val(0);
            }
        })

        $('.login-form').on('change', function(){
            var is_valid = true;
            var warning_msg = "";

            // Email validation
            if ($(this).attr('id') == 'email'){
                if (!emailValidation($(this).val())){
                    is_valid = false;
                    warning_msg = "Please input correct email address.";
                }
            } // Organization name validation
            else if ($(this).attr('id') == 'organization'){
                if ($(this).val().length <= 3){
                    is_valid = false;
                    warning_msg = "Workplace name should be more than 3 letters.";
                }
            } // Password validation
            else if ($(this).attr('id') == 'password'){
                if (!passwordValidation($(this).val())){
                    is_valid = false;
                    warning_msg = "Password must contain one symbol, one uppercase with at least 6 characters.";
                }
            }

            if(is_valid) {
                $(this).siblings('span').attr('hidden', true);
                $(this).siblings('.fa-check').removeAttr('hidden');
                $('.warning-message').attr('hidden', true);

            }else {
                $(this).siblings('.fa-check').attr('hidden', true);
                $(this).siblings('.fa-times-circle-o').removeAttr('hidden');

                $('.warning-message').removeAttr('hidden');
                $('.warning-message').html(warning_msg);

                $('.error-message').removeAttr('hidden');
                $('.flush-message').removeAttr('hidden');
            }

            // Check if submit is ready
            var is_ready = true;
            $('.login-form').each(function(){
                if($(this).attr('id')!='csrf_token' && $(this).siblings('.fa-check:hidden').length>0)
                {
                    is_ready = false;
                    return;
                }
            });
            if(is_ready){
                $('input:submit').removeAttr('disabled');
                $('input:submit').removeClass('btn-disabled').addClass('btn-primary');
                $('.savvybi-alert').attr('hidden', true);
                $('.ready-message').removeAttr('hidden');
            }else{
                $('input:submit').attr('disabled', 'disabled');
                $('input:submit').removeClass('btn-primary').addClass('btn-disabled');
                $('.ready-message').attr('hidden', true);
            }
        })

        let password = document.getElementsByName('password')[0]
        password.addEventListener("keyup", function(event) {
            // If "caps lock" is pressed, display the warning text
            if (event instanceof KeyboardEvent ) {
                if (event.getModifierState("CapsLock")) {

                    $(".savvybi-alert:not(.capslock-alert)").attr('hidden', true);
                    $(".caplock-alert").removeAttr('hidden');
                    $(this).siblings('span').attr('hidden', true);
                    $(this).siblings('.fa-hand-pointer-o').removeAttr('hidden');
                } else {
                    $(".caplock-alert").attr('hidden', true);
                    $(this).siblings('span').attr('hidden', true);
                }
            }
        });
    </script>
{% endblock %}


