
{% import 'appbuilder/general/savvy_lib.html' as lib %}
{% block content %}



{% if form_action %}
    <form action="{{form_action}}" method="post" enctype="multipart/form-data">
{% else %}
    <form id="model_form" action="" method="post" enctype="multipart/form-data">
{% endif %}
    <div class="register-form" style="margin:auto; width:40%;">

        <div class="input-group">
            {{ form.organization(size = 60, class = "form-control login-form", placeholder='Organization') }}

        </div>
        {% for error in form.errors.openid %}
        <span class="help-inline">[{{error}}]</span><br>
        {% endfor %}
        <a>&nbsp;</a>
        <div class="input-group">
            {{ form.first_name(size = 80, class = "form-control login-form", placeholder='First Name') }}
        </div>
        {% for error in form.errors.openid %}
        <span class="help-inline">[{{error}}]</span><br>
        {% endfor %}
        <a>&nbsp;</a>
        <div class="input-group">
            {{ form.last_name(size = 80, class = "form-control login-form", placeholder='Last Name') }}
        </div>
        {% for error in form.errors.openid %}
        <span class="help-inline">[{{error}}]</span><br>
        {% endfor %}
        <a>&nbsp;</a>
        <div class="input-group">
            {{ form.email(size = 80, class = "form-control login-form", placeholder='E-mail') }}
        </div>
        {% for error in form.errors.openid %}
        <span class="help-inline">[{{error}}]</span><br>
        {% endfor %}
        <a>&nbsp;</a>
        <div class="input-group">
            {{ form.password(size = 80, class = "form-control login-form", placeholder='Password') }}
        </div>
        {% for error in form.errors.openid %}
        <span class="help-inline">[{{error}}]</span><br>
        {% endfor %}
        <a>&nbsp;</a>

    </div>
    <div class="control-group">
        <div class="controls" style="position: fixed;bottom: 10%;width: 100%;left: 0;float: left">
            <br>

            <div style="float:right;padding-right:10%">
                <input
                       class="btn btn-primary btn-block form-submit" type="submit" value="{{_('Sign Up')}}"
                >
            </div>
        </div>
    </div>
    </form>
    <script>
        $('.login-form').on('input', function(event){
            console.log(this.value)
            if (this.value != '') {
                
            }
        })
        let password = document.getElementsByName('password')[0]
        password.addEventListener("keyup", function(event) {
            // If "caps lock" is pressed, display the warning text
            if (event instanceof KeyboardEvent ) {
                if (event.getModifierState("CapsLock")) {
                    document.getElementsByClassName('cap-lock')[0].hidden = false
                } else {
                    document.getElementsByClassName('cap-lock')[0].hidden = true
                }
            }
        });
        $('.login-form').each(function() {
            console.log(this)
            $(this).parent().append('<span class="fa fa-check" style="color:#079493;position:absolute;top:13px;right: 10px;' +
                'float:right;z-index:10;" hidden></span>')
        })
    </script>
{% endblock %}


