<!-- extend base layout -->
{#{% extends "appbuilder/baselayout.html" %}#}

{% block head_css %}
    <link href="{{url_for('appbuilder.static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/assets/images/favicon.png">
    <link href="{{url_for('static',filename='assets/stylesheets/solarbi.less')}}?v=1.0" rel="stylesheet">
{% endblock %}

{% block head_js %}
    <script src="{{url_for('appbuilder.static',filename='js/jquery-latest.js')}}"></script>
{% endblock %}

{% block content %}
    <div class="primary-body">
        <div class="left"></div>
        <div class="right">
            <div class="alert-top">
                {% block messages %}
                  {% include 'superset/flash_wrapper.html' %}
                {% endblock %}
            </div>
            <img class="solarbi-sun" src="/static/assets/images/solarbi_auth_sun.jpg" alt="solar sun">
            <form class="form" action="" method="post" name="login">
                {{form.hidden_tag()}}
                <h4 class="solarbi-text">SOLARBI</h4>
                <p class="solarbi-welcome">Welcome back! Please login to your account.</p>
                <div class='content'>
                    <div class='input-fields'>
                        {{ form.username(size = 80, class = "input-line full-width", placeholder = "Username") }}
                        {{ form.password(size = 80, class = "input-line full-width", placeholder = "Password") }}
                    </div>
                    <div class="login-options">
                        <div class="remember-me">
                            {{ form.remember_me(size = 10, id = "check_id", class = "check") }}
                            <label for="check_id">
                                <span class="icon"></span><span class="rm">Remember me</span>
                            </label>
                        </div>
                        <a class="forgot" href="#">Forgot Password</a>
                    </div>
                    <div class="form-buttons">
                        <input class="login-btn" type="submit" value="{{_('Login')}}">
                        {% if appbuilder.sm.auth_user_registration %}
                            <a href="{{appbuilder.sm.get_url_for_registeruser}}" class="signup-btn" data-toggle="tooltip" rel="tooltip"
                            title="{{_('If you are not already a user, please sign up')}}">
                                {{_('Sign up')}}
                            </a>
                        {% endif %}
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block tail_js %}
    <script src="{{url_for('appbuilder.static',filename='js/bootstrap.min.js')}}"></script>
{% endblock %}

