{#
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
#}
{% extends 'appbuilder/general/widgets/saved_base_list.html' %}
{% import 'appbuilder/general/lib.html' as lib %}

{#{% set is_team_owner = g.user.roles[0].name == 'team_owner' %}#}
{% set is_team_owner = appbuilder.sm.get_role_in_team(g.user, session_team[0]).name == 'team_owner' %}
{% set download_prefix = "https://solarbi-saved-radiation.s3-ap-southeast-2.amazonaws.com/" %}

{% block begin_title %}
    <div class="title-card">
        <div class="card-container">
            <p style="font-size: 20px; font-weight: 500; color: #0063B0; margin: 0">Use Your Saved Searches</p>
            <p style="font-size: 15px; color: #0063B0;">All your saved searches can be re-use to run different combinations of type (DNI or GHI), Length (Up to 30 years) and resolution (hourly, daily, weekly, monthly or yearly)</p>
        </div>
        <a href="/solar/add" class="my-data-add">New Search</a>
    </div>
    <div class="my-data-search-container">
        <i class="fas fa-search my-data-search-icon"></i>
        <input id="searchInput" class="my-data-search" type="text" placeholder="Search Data Sets">
        <div class="my-data-radio-group">
            <input type="radio" id="option-one" name="selector" value="all" checked="checked"><label for="option-one">All</label><input type="radio" id="option-two" name="selector" value="saved"><label for="option-two">Saved</label><input type="radio" id="option-three" name="selector" value="paid"><label for="option-three">Downloads</label>
        </div>
    </div>
{##}
{#     <div class="my-data-radio-group">#}
{#        <input type="radio" id="option-one" name="selector" value="all" checked="checked"><label for="option-one">All</label><input type="radio" id="option-two" name="selector" value="saved"><label for="option-two">Saved</label><input type="radio" id="option-three" name="selector" value="downloads"><label for="option-three">Downloads</label>#}
{#     </div>#}

{% endblock %}

{% block begin_content scoped %}
    <div class="list-cards-wrapper">
{#    <div class="table-responsive">#}
{#    <table class="table table-bordered table-hover">#}
{% endblock %}

{% block begin_loop_header scoped %}
{#    <thead>#}
{#    <tr>#}
{#    {% if actions %}#}
{#    <th class="action_checkboxes">#}
{#        <input id="check_all" class="action_check_all" name="check_all" type="checkbox">#}
{#    </th>#}
{#    {% endif %}#}
{##}
{#    {% if can_show or can_edit or can_delete %}#}
{#        <th class="col-md-1 col-lg-1 col-sm-1" ></th>#}
{#    {% endif %}#}
{##}
{#    {% for item in include_columns %}#}
{#        {% if item in order_columns %}#}
{#            {% set res = item | get_link_order(modelview_name) %}#}
{#                {% if res == 2 %}#}
{#                <th><a href={{ item | link_order(modelview_name) }}>{{label_columns.get(item)}}#}
{#                <i class="fa fa-chevron-up pull-right"></i></a></th>#}
{#            {% elif res == 1 %}#}
{#                <th><a href={{ item | link_order(modelview_name) }}>{{label_columns.get(item)}}#}
{#                <i class="fa fa-chevron-down pull-right"></i></a></th>#}
{#            {% else %}#}
{#                <th><a href={{ item | link_order(modelview_name) }}>{{label_columns.get(item)}}#}
{#                <i class="fa fa-arrows-v pull-right"></i></a></th>#}
{#            {% endif %}#}
{#        {% else %}#}
{#            <th>{{label_columns.get(item)}}</th>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#    </tr>#}
{#    </thead>#}
{% endblock %}

{% block begin_loop_values %}
    {% for item in value_columns %}
        <div class="list-card">
            {% set formatter = formatters_columns.get(value) %}
            {% if 'None' in item['slice_query_id'] %}
{#                href={{ "/solar/delete/"+item['slice_id'] }}#}
                <a data-href={{ "/solar/delete/"+item['slice_id'] }} type="button" class="delete-btn" data-toggle="modal" data-target="#deleteData"><i class="far fa-trash-alt"></i></a>
                <div class="list-container">
                    <div class="ribbon saved-ribbon-top-right"><span>saved</span></div>
                    {% if formatter %}
                        {{ formatter(item['view_slice_name']) }}
                    {% else %}
                        {{ item['view_slice_name'] }}
                    {% endif %}
                    <hr style="border-bottom: 1px solid #C7C9CB; width: 80px; margin: -10px auto 10px;">
                    {% if is_team_owner %}
                        <h6>Owner: {{ item['changed_by_name'] }}</h6>
                    {% endif %}
                    <i class="fas fa-chart-pie my-data-pie"></i>
                    {{ item['view_slice_link'] }}
                </div>
            {% else %}
                <div class="ribbon ribbon-top-right"><span>paid</span></div>
                <div class="download-container">
                {% if formatter %}
                    {{ formatter(item['view_slice_name']) }}
                {% else %}
                   {% set info = item['view_slice_name'].split('_') %}
                   <table>
                      {% if not is_team_owner %}
                          <div style="margin-top: 20px"></div>
                      {% endif %}
                      <tr>
                        <td>Address</td>
                        <td><div>{{ info[0][3:] }}</div></td>
                      </tr>
                      <tr>
                        <td>Start Date</td>
                        <td>{{ info[1] }}</td>
                      </tr>
                      <tr>
                        <td>End Date</td>
                        <td>{{ info[2] }}</td>
                      </tr>
                      <tr>
                        <td>Type</td>
                        <td>{{ info[3] }}</td>
                      </tr>
                      <tr>
                        <td>Resolution</td>
                        <td>{{ info[4][:-4] }}</td>
                      </tr>
                      {% if is_team_owner %}
                          <tr>
                            <td>Owner</td>
                            <td>{{ item['changed_by_name'] }}</td>
                          </tr>
                      {% endif %}
                      <tr>
                        <td>Status</td>
                          {% if item['slice_query_id'] in obj_keys %}
                             <td>
                             {% for aok in avail_object_keys %}
                                 {% if item['slice_query_id'] in aok %}
                                    Completed
                                    <a class="download-link" href={{ download_prefix + aok }}>
                                      <i class="fas fa-arrow-circle-down"></i>
                                    </a>
                                 {% endif %}
                             {% endfor %}
                             </td>
                          {% else %}
                              <td>Still running</td>
                          {% endif %}
                      </tr>
                    </table>
                {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <div class="modal fade" id="deleteData" tabindex="-1" role="dialog" aria-labelledby="deleteDataTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteDataTitle">Delete Saved Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure to delete this saved data?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn delete-close-btn" data-dismiss="modal">Close</button>
            <a id="deleteButton" type="button" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block tail_js %}
    <script>
        $(document).ready(function(){
            $('#deleteData').on('shown.bs.modal',function(e){
                $(this).find('#deleteButton').attr('href', ($(e.relatedTarget).attr("data-href")));
            });


            $("#searchInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                if ($('input:radio[name="selector"]:checked').val() === 'all') {
                    $(".list-card").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                } else if ($('input:radio[name="selector"]:checked').val() === 'saved') {
                    $(".list-card").filter(function() {
                        $(this).toggle(
                            $(this).text().toLowerCase().indexOf(value) > -1 && $(this).find('span').text().toLowerCase().indexOf('saved') > -1
                        )
                    });
                } else {
                    $(".list-card").filter(function() {
                        $(this).toggle(
                            $(this).text().toLowerCase().indexOf(value) > -1 && $(this).find('span').text().toLowerCase().indexOf('paid') > -1
                        )
                    });
                }

            });

          $(".list-card > div > p").each(function() {
              var el= $(this);
              var textLength = el.html().length;
              if (textLength <= 17) {
                  el.css('font-size', '1.5em');
              } else if (textLength > 17 && textLength <= 25) {
                  el.css('font-size', '1.3em');
              } else if (textLength > 25) {
                  el.css('font-size', '1.0em');
              }
          });
        });

        $('input:radio[name="selector"]').change(function() {
            $('#searchInput').val('');
            if ($(this).val() === 'all') {
                $(".list-card").show()
            } else if ($(this).val() === 'saved') {
                $(".list-card").filter(function() {
                    $(this).toggle($(this).find('span').text().toLowerCase().indexOf('saved') > -1)
                });
            } else if ($(this).val() === 'paid') {
                $(".list-card").filter(function() {
                    $(this).toggle($(this).find('span').text().toLowerCase().indexOf('paid') > -1)
                });
            }
        });

    </script>
{% endblock %}

{% block end_content scoped %}
{#    </table>#}
    </div>
{% endblock %}
