{% import 'appbuilder/general/lib.html' as lib %}
{% extends 'superset/models/site/base_list.html' %}


    {% block begin_content scoped %}
        <div class="table-responsive" style="overflow:auto;height:300px;">
        <table class="table table-bordered table-hover" >
    {% endblock %}

    {% block begin_loop_header scoped %}
        <script>
            function checkAll(ele) {
             var checkboxes = document.getElementsByTagName('input');
             if (ele.checked) {
                 for (var i = 0; i < checkboxes.length; i++) {
                     if (checkboxes[i].type == 'checkbox') {
                         checkboxes[i].checked = true;
                     }
                 }
             } else {
                 for (var i = 0; i < checkboxes.length; i++) {
                     if (checkboxes[i].type == 'checkbox') {
                         checkboxes[i].checked = false;
                     }
                 }
             }
             }
        </script>
        <thead>
        <tr>


        <th><INPUT type="checkbox" onchange="checkAll(this)" name="chk[]" /></th>
        {% for item in include_columns %}
            {% if item in order_columns %}
                {% set res = item | get_link_order_ajax(modelview_name) %}
                    {% if res == 2 %}
                    <th><a class="page" href={{ item | link_order_ajax(modelview_name) }}>{{label_columns.get(item)}}</a>
                    <i class="fa fa-chevron-up pull-right"></i></th>
                {% elif res == 1 %}
                    <th><a class="page" href={{ item | link_order_ajax(modelview_name) }}>{{label_columns.get(item)}}</a>
                    <i class="fa fa-chevron-down pull-right"></i></th>
                {% else %}
                    <th><a class="page" href={{ item | link_order_ajax(modelview_name) }}>{{label_columns.get(item)}}</a>
                    <i class="fa fa-arrows-v pull-right"></i></th>
                {% endif %}
            {% else %}
                <th>{{label_columns.get(item)}}</th>
            {% endif %}
        {% endfor %}
        </tr>
        </thead>
    {% endblock %}

    {% block begin_loop_values %}
        {% for item in value_columns %}
            {% set pk = pks[loop.index-1] %}
            <tr>
                <td>
                    <input id="{{pk}}" class="action_check" name="rowid" value="{{pk}}" type="checkbox">
                </td>
                {% for value in include_columns %}
                    {% set formatter = formatters_columns.get(value) %}
                    {% if formatter %}
                        <td>{{ formatter(item[value]) }}</td>
                    {% else %}
                        <td>{{ item[value] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}

    {% block end_content scoped %}
        </table>
        </div>
    {% endblock %}

