{% extends 'savvy/admin/index.html' %}

{% block main_content %}
<div id="billing-div" class="account-div">
  <p class="title">Billing</p>
  <div>
      <ul class="nav nav-pills">
          <li class="active">
              <a  href="#detail" data-toggle="tab">Details</a>
          </li>
          <li>
              <a href="#history" data-toggle="tab">History</a>
          </li>
          <li>
              <a href="#contact" data-toggle="tab">Contacts</a>
          </li>
          <li>
              <a href="#payment" data-toggle="tab">Payment Methods</a>
          </li>
      </ul>

      <div class="tab-content clearfix">
          <div class="tab-pane fade in active" id="detail">
              <div class="header">
                  <div class="title">Business Name & Address<p/></div>
                  <div class="description">
                      This information will be included on all your billing invoices and as part of you <span class="highlight">BAV</span>
                  </div>
                  <p/>
              </div>
              <div class="content container-fluid">
                  <form>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="row">
                                  <div class="form-group col-sm-12">
                                      <label for="country" class="control-label">Country*</label>
                                      <div>
                                          <select class="form-control" name="country" id="country">
                                              <option value="" selected></option>
                                              <option value="Afghanistan">Afghanistan</option>
                                              <option value="Åland Islands">Åland Islands</option>
                                              <option value="Albania">Albania</option>
                                              <option value="Algeria">Algeria</option>
                                              <option value="American Samoa">American Samoa</option>
                                              <option value="Andorra">Andorra</option>
                                              <option value="Angola">Angola</option>
                                              <option value="Anguilla">Anguilla</option>
                                              <option value="Antarctica">Antarctica</option>
                                              <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                              <option value="Argentina">Argentina</option>
                                              <option value="Armenia">Armenia</option>
                                              <option value="Aruba">Aruba</option>
                                              <option value="Australia">Australia</option>
                                              <option value="Austria">Austria</option>
                                              <option value="Azerbaijan">Azerbaijan</option>
                                              <option value="Bahamas">Bahamas</option>
                                              <option value="Bahrain">Bahrain</option>
                                              <option value="Bangladesh">Bangladesh</option>
                                              <option value="Barbados">Barbados</option>
                                              <option value="Belarus">Belarus</option>
                                              <option value="Belgium">Belgium</option>
                                              <option value="Belize">Belize</option>
                                              <option value="Benin">Benin</option>
                                              <option value="Bermuda">Bermuda</option>
                                              <option value="Bhutan">Bhutan</option>
                                              <option value="Bolivia">Bolivia</option>
                                              <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                              <option value="Botswana">Botswana</option>
                                              <option value="Bouvet Island">Bouvet Island</option>
                                              <option value="Brazil">Brazil</option>
                                              <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                              <option value="Brunei Darussalam">Brunei Darussalam</option>
                                              <option value="Bulgaria">Bulgaria</option>
                                              <option value="Burkina Faso">Burkina Faso</option>
                                              <option value="Burundi">Burundi</option>
                                              <option value="Cambodia">Cambodia</option>
                                              <option value="Cameroon">Cameroon</option>
                                              <option value="Canada">Canada</option>
                                              <option value="Cape Verde">Cape Verde</option>
                                              <option value="Cayman Islands">Cayman Islands</option>
                                              <option value="Central African Republic">Central African Republic</option>
                                              <option value="Chad">Chad</option>
                                              <option value="Chile">Chile</option>
                                              <option value="China">China</option>
                                              <option value="Christmas Island">Christmas Island</option>
                                              <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                              <option value="Colombia">Colombia</option>
                                              <option value="Comoros">Comoros</option>
                                              <option value="Congo">Congo</option>
                                              <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                                              <option value="Cook Islands">Cook Islands</option>
                                              <option value="Costa Rica">Costa Rica</option>
                                              <option value="Cote D'ivoire">Cote D'ivoire</option>
                                              <option value="Croatia">Croatia</option>
                                              <option value="Cuba">Cuba</option>
                                              <option value="Cyprus">Cyprus</option>
                                              <option value="Czech Republic">Czech Republic</option>
                                              <option value="Denmark">Denmark</option>
                                              <option value="Djibouti">Djibouti</option>
                                              <option value="Dominica">Dominica</option>
                                              <option value="Dominican Republic">Dominican Republic</option>
                                              <option value="Ecuador">Ecuador</option>
                                              <option value="Egypt">Egypt</option>
                                              <option value="El Salvador">El Salvador</option>
                                              <option value="Equatorial Guinea">Equatorial Guinea</option>
                                              <option value="Eritrea">Eritrea</option>
                                              <option value="Estonia">Estonia</option>
                                              <option value="Ethiopia">Ethiopia</option>
                                              <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                                              <option value="Faroe Islands">Faroe Islands</option>
                                              <option value="Fiji">Fiji</option>
                                              <option value="Finland">Finland</option>
                                              <option value="France">France</option>
                                              <option value="French Guiana">French Guiana</option>
                                              <option value="French Polynesia">French Polynesia</option>
                                              <option value="French Southern Territories">French Southern Territories</option>
                                              <option value="Gabon">Gabon</option>
                                              <option value="Gambia">Gambia</option>
                                              <option value="Georgia">Georgia</option>
                                              <option value="Germany">Germany</option>
                                              <option value="Ghana">Ghana</option>
                                              <option value="Gibraltar">Gibraltar</option>
                                              <option value="Greece">Greece</option>
                                              <option value="Greenland">Greenland</option>
                                              <option value="Grenada">Grenada</option>
                                              <option value="Guadeloupe">Guadeloupe</option>
                                              <option value="Guam">Guam</option>
                                              <option value="Guatemala">Guatemala</option>
                                              <option value="Guernsey">Guernsey</option>
                                              <option value="Guinea">Guinea</option>
                                              <option value="Guinea-bissau">Guinea-bissau</option>
                                              <option value="Guyana">Guyana</option>
                                              <option value="Haiti">Haiti</option>
                                              <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                                              <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                                              <option value="Honduras">Honduras</option>
                                              <option value="Hong Kong">Hong Kong</option>
                                              <option value="Hungary">Hungary</option>
                                              <option value="Iceland">Iceland</option>
                                              <option value="India">India</option>
                                              <option value="Indonesia">Indonesia</option>
                                              <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                                              <option value="Iraq">Iraq</option>
                                              <option value="Ireland">Ireland</option>
                                              <option value="Isle of Man">Isle of Man</option>
                                              <option value="Israel">Israel</option>
                                              <option value="Italy">Italy</option>
                                              <option value="Jamaica">Jamaica</option>
                                              <option value="Japan">Japan</option>
                                              <option value="Jersey">Jersey</option>
                                              <option value="Jordan">Jordan</option>
                                              <option value="Kazakhstan">Kazakhstan</option>
                                              <option value="Kenya">Kenya</option>
                                              <option value="Kiribati">Kiribati</option>
                                              <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                                              <option value="Korea, Republic of">Korea, Republic of</option>
                                              <option value="Kuwait">Kuwait</option>
                                              <option value="Kyrgyzstan">Kyrgyzstan</option>
                                              <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                                              <option value="Latvia">Latvia</option>
                                              <option value="Lebanon">Lebanon</option>
                                              <option value="Lesotho">Lesotho</option>
                                              <option value="Liberia">Liberia</option>
                                              <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                              <option value="Liechtenstein">Liechtenstein</option>
                                              <option value="Lithuania">Lithuania</option>
                                              <option value="Luxembourg">Luxembourg</option>
                                              <option value="Macao">Macao</option>
                                              <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                                              <option value="Madagascar">Madagascar</option>
                                              <option value="Malawi">Malawi</option>
                                              <option value="Malaysia">Malaysia</option>
                                              <option value="Maldives">Maldives</option>
                                              <option value="Mali">Mali</option>
                                              <option value="Malta">Malta</option>
                                              <option value="Marshall Islands">Marshall Islands</option>
                                              <option value="Martinique">Martinique</option>
                                              <option value="Mauritania">Mauritania</option>
                                              <option value="Mauritius">Mauritius</option>
                                              <option value="Mayotte">Mayotte</option>
                                              <option value="Mexico">Mexico</option>
                                              <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                                              <option value="Moldova, Republic of">Moldova, Republic of</option>
                                              <option value="Monaco">Monaco</option>
                                              <option value="Mongolia">Mongolia</option>
                                              <option value="Montenegro">Montenegro</option>
                                              <option value="Montserrat">Montserrat</option>
                                              <option value="Morocco">Morocco</option>
                                              <option value="Mozambique">Mozambique</option>
                                              <option value="Myanmar">Myanmar</option>
                                              <option value="Namibia">Namibia</option>
                                              <option value="Nauru">Nauru</option>
                                              <option value="Nepal">Nepal</option>
                                              <option value="Netherlands">Netherlands</option>
                                              <option value="Netherlands Antilles">Netherlands Antilles</option>
                                              <option value="New Caledonia">New Caledonia</option>
                                              <option value="New Zealand">New Zealand</option>
                                              <option value="Nicaragua">Nicaragua</option>
                                              <option value="Niger">Niger</option>
                                              <option value="Nigeria">Nigeria</option>
                                              <option value="Niue">Niue</option>
                                              <option value="Norfolk Island">Norfolk Island</option>
                                              <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                              <option value="Norway">Norway</option>
                                              <option value="Oman">Oman</option>
                                              <option value="Pakistan">Pakistan</option>
                                              <option value="Palau">Palau</option>
                                              <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                                              <option value="Panama">Panama</option>
                                              <option value="Papua New Guinea">Papua New Guinea</option>
                                              <option value="Paraguay">Paraguay</option>
                                              <option value="Peru">Peru</option>
                                              <option value="Philippines">Philippines</option>
                                              <option value="Pitcairn">Pitcairn</option>
                                              <option value="Poland">Poland</option>
                                              <option value="Portugal">Portugal</option>
                                              <option value="Puerto Rico">Puerto Rico</option>
                                              <option value="Qatar">Qatar</option>
                                              <option value="Reunion">Reunion</option>
                                              <option value="Romania">Romania</option>
                                              <option value="Russian Federation">Russian Federation</option>
                                              <option value="Rwanda">Rwanda</option>
                                              <option value="Saint Helena">Saint Helena</option>
                                              <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                              <option value="Saint Lucia">Saint Lucia</option>
                                              <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                              <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                                              <option value="Samoa">Samoa</option>
                                              <option value="San Marino">San Marino</option>
                                              <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                              <option value="Saudi Arabia">Saudi Arabia</option>
                                              <option value="Senegal">Senegal</option>
                                              <option value="Serbia">Serbia</option>
                                              <option value="Seychelles">Seychelles</option>
                                              <option value="Sierra Leone">Sierra Leone</option>
                                              <option value="Singapore">Singapore</option>
                                              <option value="Slovakia">Slovakia</option>
                                              <option value="Slovenia">Slovenia</option>
                                              <option value="Solomon Islands">Solomon Islands</option>
                                              <option value="Somalia">Somalia</option>
                                              <option value="South Africa">South Africa</option>
                                              <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                                              <option value="Spain">Spain</option>
                                              <option value="Sri Lanka">Sri Lanka</option>
                                              <option value="Sudan">Sudan</option>
                                              <option value="Suriname">Suriname</option>
                                              <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                              <option value="Swaziland">Swaziland</option>
                                              <option value="Sweden">Sweden</option>
                                              <option value="Switzerland">Switzerland</option>
                                              <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                                              <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                                              <option value="Tajikistan">Tajikistan</option>
                                              <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                              <option value="Thailand">Thailand</option>
                                              <option value="Timor-leste">Timor-leste</option>
                                              <option value="Togo">Togo</option>
                                              <option value="Tokelau">Tokelau</option>
                                              <option value="Tonga">Tonga</option>
                                              <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                              <option value="Tunisia">Tunisia</option>
                                              <option value="Turkey">Turkey</option>
                                              <option value="Turkmenistan">Turkmenistan</option>
                                              <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                              <option value="Tuvalu">Tuvalu</option>
                                              <option value="Uganda">Uganda</option>
                                              <option value="Ukraine">Ukraine</option>
                                              <option value="United Arab Emirates">United Arab Emirates</option>
                                              <option value="United Kingdom">United Kingdom</option>
                                              <option value="United States">United States</option>
                                              <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                              <option value="Uruguay">Uruguay</option>
                                              <option value="Uzbekistan">Uzbekistan</option>
                                              <option value="Vanuatu">Vanuatu</option>
                                              <option value="Venezuela">Venezuela</option>
                                              <option value="Viet Nam">Viet Nam</option>
                                              <option value="Virgin Islands, British">Virgin Islands, British</option>
                                              <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                              <option value="Wallis and Futuna">Wallis and Futuna</option>
                                              <option value="Western Sahara">Western Sahara</option>
                                              <option value="Yemen">Yemen</option>
                                              <option value="Zambia">Zambia</option>
                                              <option value="Zimbabwe">Zimbabwe</option>
                                            </select>
                                      </div>
                                  </div>
                                  <div class="form-group col-sm-12">
                                      <label for="business_name" class="control-label">Business Name*</label>
                                      <div>
                                          <input class="form-control" id="business_name" />
                                      </div>
                                  </div>
                                  <div class="form-group col-sm-12">
                                      <label for="street_address" class="control-label">Street Address*</label>
                                      <div>
                                          <input class="form-control" id="street_address" />
                                      </div>
                                    </div>
                                  <div class="form-group col-sm-12">
                                      <label for="suite_unit" class="control-label">Suite/Unit</label>
                                      <div>
                                          <input class="form-control" id="suite_unit" />
                                      </div>
                                    </div>
                                  <div class="form-group col-sm-12">
                                      <label for="city" class="control-label">City*</label>
                                      <div>
                                          <input class="form-control" id="city" />
                                      </div>
                                  </div>
                                  <div class="form-group col-sm-12">
                                      <label for="region" class="control-label">State/Province/Region</label>
                                      <div>
                                          <input class="form-control" id="region" />
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-group col-sm-12">
                                  <label for="note" class="control-label">Additional Notes</label>
                                  <textarea class="form-control" id="note" ></textarea>
                              </div>

                          </div>

                      </div>
                      <div class="row">
                          <div class="form-group col-sm-3">
                              <label for="postal_code" class="control-label">Postal Code</label>
                              <div>
                                  <input class="form-control" id="postal_code" />
                              </div>
                          </div>
                          <div class="form-group col-sm-3">
                              <label for="abn" class="control-label">ABN</label>
                              <div>
                                  <input class="form-control" id="abn" />
                              </div>
                          </div>
                          <div class="form-group col-sm-3 pull-right">
                              <input type="button" class="savvy-btn savvy-submit-btn pull-right" value="Save" style="width: 140px; height: 36px; margin-top: 30px; font-size: 15px;">
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="tab-pane fade container-fluid" id="history">
              <div class="header row">
                  <div class="col-sm-3">
                    <button class="savvy-btn savvy-default-btn" style="color: #34495E; border-color: #34495E;"><i class="fa fa-arrow-left"></i>&nbsp; December 2018</button>
                  </div>
                  <div class="col-sm-6 title">
                      January 2019
                  </div>
                  <div class=" col-sm-3 pull-right">
                      <button class="savvy-btn savvy-default-btn" style="color: #34495E; border-color: #34495E; float: right;">February 2019 &nbsp;<i class="fa fa-arrow-right"></i></button>
                  </div>
              </div>
              <p/>
              <div class="content row">
                  <div class="col-lg-12 text-center">
                      <p class="futura-medium" style="font-size: 18px;">Terms of Service &nbsp&nbsp <a class="highlight">Review</a></p>
                  </div>
                  <table class="col-sm-12">
                      <thead>
                          <td class="col-sm-3">Date</td>
                          <td class="col-sm-4">Item</td>
                          <td class="col-sm-3 text-right">Charges</td>
                          <td class="col-sm-2 text-right">Credit Balance</td>
                      </thead>
                      <tr>
                          <td class="col-sm-3 highlight">2019-03-23</td>
                          <td class="col-sm-4">
                              <span>Marko.Knezevic0202@gmil.com</span>
                              <br/>
                              <span style="font-size: 16px; color: #707070;">Invoice #919383402</span>
                          </td>
                          <td class="col-sm-3 text-right">
                              Charged <span class="futura-medium">$0.77</span>
                          </td>
                          <td class="col-sm-2 text-right futura-medium">$0</td>
                      </tr>
                  </table>
              </div>
          </div>
          <div class="tab-pane fade container-fluid" id="contact">
              <div class="header">
                  <p class="futura-medium" style="font-size: 22px;">
                      Billing Emails
                  </p>
                  <p class="futura-light" style="font-size: 18px">
                      All billing relating emails will be sent to this list of contacts. The primary owner cannot be removed, but additional contacts can be added.
                  </p>
              </div>
              <div class="content">
                  <table>
                      <tr>
                          <td class="field">
                              Bruce Wayne
                              <p class="futura-light"> Primary Owner </p>
                          </td>
{#                          <td class="value" style="text-align: right; padding-right: 50px;">2019-03-23</td>#}
                      </tr>
                  </table>
                  <div id="new-contact-div">
                      <button class="savvy-btn savvy-default-btn add-contact-btn fade in">+ Add contact</button>
                      <div id="submit-contact-div" class="fade">
                          <div class="form-group">
                              <label for="team-contact" class="control-label">
                                  Add a billing contact from your team
                              </label>
                              <input class="form-control" id="team-contact">
                          </div>
                          <div class="form-group">
                              <label for="email-contact" class="control-label">
                                  Or by email address
                              </label>
                              <input class="form-control" id="email-contact">
                          </div>
                          <button class="savvy-btn savvy-submit-btn submit-contact-btn">Add contact</button>
                          <div class="clearfix"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="tab-pane fade container-fluid" id="payment">
              <div class="row">
                  <div class="col-sm-7">
                      <p class="futura-medium" style="font-size: 22px;">Existing Cards</p>
                      <div class="col-sm-12">

                      </div>
                  </div>
                  <div class="col-sm-5">
                      <p class="futura-medium" style="font-size: 22px;">Add New Card</p>
                      <div class="form-group">
                          <p for="card-name" class="form-label">Name on the Card*
                              <span class="futura-light" style="font-size: 12px; float: right;">
                                  <i class="	fas fa-key	fas fa-key" style="font-size: 10px; color:#707070"></i>
                                  Secure Form
                              </span>
                          </p>
                          <input class="form-control" id="card-name">
                      </div>
                      <div class="form-group">
                          <label for="card-no" class="form-label">Card Number*</label>
                          <input class="form-control" id="card-no">
                      </div>
                      <div class="form-group" style="width: 100px; margin-right: 40px; float: left;">
                          <label for="card-exp" class="form-label">Expiry*</label>
                          <input class="form-control" id="card-exp" placeholder="MM / YY">
                      </div>
                      <div class="form-group" style="width: 100px; float: left;">
                          <label for="card-cvv" class="form-label">CVV*</label>
                          <input class="form-control" id="card-cvv">
                      </div>
                      <span style="position: relative; top: 35px; left: 10px; font-size: 28px; color: #707070;">
                          <i class="far fa-credit-card"></i>
                      </span>
                      <div class="form-group" style="width: 100px;">
                          <label for="card-code" class="form-label">Zip Code</label>
                          <input class="form-control" id="card-code">
                      </div>
                      <button class="savvy-btn savvy-submit-btn" id="add-card-btn">Add Card</button>
                  </div>
              </div>
          </div>
      </div>
      <div style="clear:both;"></div>
  </div>
</div>
{% endblock %}
{% block js_import %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            $(".add-contact-btn").on('click', function(){
                $(this).removeClass('in');
                $("#submit-contact-div").addClass('in');
            });
        });
    </script>
{% endblock %}