{#
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
#}
{% block head_css %}
    <link rel="icon" type="image/png" href="/static/assets/images/favicon.png">
    <link href="{{url_for('appbuilder.static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='assets/stylesheets/solarbi.less')}}?v=2.1" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
{% endblock %}
{% block head_js %}
    <script src="{{url_for('appbuilder.static',filename='js/jquery-latest.js')}}"></script>
{% endblock %}

{% block body %}
    <div class="primary-body">
        <div class="left"></div>
        {% block right %}
        {% endblock %}
    </div>
{% endblock %}

{% block terms %}
    <div class="term-modal-overlay">
        <div class="term-modal">
            <a class="term-close-modal">
              <span>&times;</span>
            </a>
            <div class="term-modal-content">
              <h3>Website Terms of Use</h3>
              <p>Version 1.0</p>
              <p>The SolarBI website located at https://www.solarbi.com.au is a copyrighted work belonging to SavvyPlus Consulting.
                  Certain features of the Site may be subject to additional guidelines, terms, or rules, which will be posted on the Site in connection with such features.
                  All such additional terms, guidelines, and rules are incorporated by reference into these Terms.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block resend_activation %}
    <div class="ra-modal-overlay">
        <div class="ra-modal">
            <a class="ra-close-modal">
              <span>&times;</span>
            </a>
            <div class="ra-modal-content">
              <p>Please input your email below</p>
              <div class="ra-form-group">
                <input id="actEmailInput" placeholder="Email" class="form-control" type="email">
                <button type="submit" class="resend-activation-email btn btn-primary" id="resendActEmail">Resend</button>
                <img id="raResending" src="/static/assets/images/loading.gif" style="display: none; width: 40px; margin-right: 17px; margin-left: 20px;">
              </div>
            </div>
            <p id="raInvalidEmail" class="ra-error-msg">* Email cannot be empty</p>
            <p id="raWrongEmail" class="ra-error-msg">* Cannot find the email</p>
        </div>
    </div>
{% endblock %}

{% block add_tail_js %}
    <script src="{{url_for('appbuilder.static',filename='js/bootstrap.min.js')}}"></script>
    <script>
        let elements = $('.term-modal-overlay, .term-modal');
        $('.term-of-use').click(function(){
            elements.addClass('active');
        });
        $('.term-close-modal').click(function(){
            elements.removeClass('active');
        });

        $("[data-toggle=popover]").popover({
            html: true,
            content: function() {
                return $('#popover-content').html();
            }
        });


        let rae = $('.ra-modal-overlay, .ra-modal');
        $('.rae-btn').click(function(){
            rae.addClass('active');
        });
        $('.ra-close-modal').click(function(){
            $('#actEmailInput').val('');
            $('#raInvalidEmail').hide();
            $("#raWrongEmail").hide();
            rae.removeClass('active');
        });


        $('#resendActEmail').click(function () {
            $('#raResending').show();
            $(this).hide();
            $('#raInvalidEmail').hide();
            $("#raWrongEmail").hide();
            let user_email = $('#actEmailInput').val();
            {#let user_email = document.getElementById("actEmailInput").value;#}
            if (user_email === '') {
                $('#raResending').hide();
                $('#resendActEmail').show();
                return $('#raInvalidEmail').show();
            }
            let csrf_token = "{{ csrf_token() if csrf_token else '' }}";
            {#$(this).replaceWith("<img src=\"/static/assets/images/loading.gif\" style=\"width: 40px; margin-right: 17px; margin-left: 20px;\">");#}
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            $.ajax({
                type : "POST",
                url : "{{ url_for('SolarBIAuthDBView.resend_activation') }}",
                data: JSON.stringify({user_email: user_email}),
                contentType: 'application/json;charset=UTF-8',
                success: function(data) {
                    if (data.redirect) {
                        window.location.replace(data.redirect)
                    }
                    if (data.err) {
                        $('#resendActEmail').show();
                        $("#raWrongEmail").show();
                        $('#raResending').hide();
                    }
                }
            });
        });

    </script>
{% endblock %}