<div class="savvy-content">
    <div class="welcome-text">
        Welcome To Workplace
    </div>
    <div class="meter-description">
      <p>  Hi {UserName}, we are working hard to make this process super fast and automated, sadly we  </p>
      <p>depend on your meter data provider, and sometimes they are not very responsive, so it can take up to </p>
      <p>10 days to collect your data.</p>
    </div>
    <div class="meter-setup">
        <div class="title">
            Let’s get started connecting your first site!
        </div>
        <div class="content">
            <div class="meter-box">
                <div class="title">
                  Connect your first meter
                </div>
                <div class="content">
                  <p>
                    <span class="highlight">Meter</span>
                    data is managed by the meter data provider, some of
                  </p>
                  <p>them don’t work with the latest technology, so we need your </p>
                  <p>permission to contact them and connect to your data</p>
                </div>
                <div class="submit">
                    <button class="savvy-btn savvy-submit-btn">Connect Meter</button>
                </div>
            </div>
            <div class="meter-box">
                <div class="title">
                  Need to add many meters ?
                </div>
                <div class="content">
                  <p>
                    <span class="highlight">Many meters </span>
                    is when you have multiple locations.
                  </p>
                  <p>Sometimes it is faster do it locally (excel) and then upload it, </p>
                  <p>however, to really understand what you need we would like to</p>
                  <p>ask you some questions.</p>
                </div>
                <div class="submit">
                    <button class="savvy-btn savvy-default-btn">Need Assistance</button>
                </div>
            </div>
        </div>
        <div class="go-to-main">
          <a href="#">I'll do it later</a>
        </div>
    </div>
</div>