<img id="savvy-onboard-img" src="{{ url_for('static', filename='assets/images/welcome-background.png') }}"/>
<div class="savvy-content">
    <div class="welcome-text">
        Welcome To Workplace
    </div>
    <div class="meter-description">
      <p>  Hi {UserName}, we are working hard to make this process super fast and automated, sadly we  </p>
      <p>depend on your meter data provider, and sometimes they are not very responsive, so it can take up to </p>
      <p>10 days to collect your data.</p>
    </div>
    <div class="meter-setup">
        <div class="title">
            Let’s get started connecting your first site!
        </div>
        <div class="content">
            <div class="meter-box">
                <div class="title">
                  Connect your first meter
                </div>
                <div class="content">
                  <p>
                    <span class="highlight">Meter</span>
                    data is managed by the meter data provider, some of
                  </p>
                  <p>them don’t work with the latest technology, so we need your </p>
                  <p>permission to contact them and connect to your data</p>
                </div>
                <div class="submit">
                    <button class="savvy-btn savvy-submit-btn">Connect Meter</button>
                </div>
            </div>
            <div class="meter-box">
                <div class="title">
                  Need to add many meters ?
                </div>
                <div class="content">
                  <p>
                    <span class="highlight">Many meters </span>
                    is when you have multiple locations.
                  </p>
                  <p>Sometimes it is faster do it locally (excel) and then upload it, </p>
                  <p>however, to really understand what you need we would like to</p>
                  <p>ask you some questions.</p>
                </div>
                <div class="submit">
                    <button class="savvy-btn savvy-default-btn">Need Assistance</button>
                </div>
            </div>
        </div>
        <div class="go-to-main">
          <a href="#" data-toggle="modal" data-target="#meter-connect">I'll do it later</a>
        </div>
        <div id="meter-connect" class="modal fade" role="dialog">
          <div class="modal-dialog" style="margin-top: 150px;">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
              </div>
              <div class="modal-body">
                <p>All this can be a bit overwhelming, but don’t worry</p>
                <p>we are here to help you every step of the way.<p>
                <p>If you need someone to walk you through click on the<p>
                <p>chat-box and a member of our costumer support<p>
                <p>team can help you out.<p>
                <br/>
                <p>Or send us an email at <span style="color: #079493;">meterdata@savvybi.io</span>, and<p>
                <p>we will get in contact with you to help.<p>
                <br/>
                <p>However, the best way to get it is by trying so what<p>
                <p>do you think?</p>
              </div>
              <div class="modal-footer">
                <button class="savvy-btn savvy-default-btn" data-dismiss="modal" style="float:left;">I'll do it later</button>
                <button class="savvy-btn savvy-submit-btn" data-dismiss="modal" style="float: right;">Let's try!</button>
              </div>
            </div>

          </div>
        </div>
    </div>
</div>